[Desktop Entry]
Version=1.0
Type=Application
Name=g213-led-white
Comment=Logitech G213 Prodigy control led
Categories=Utility;Games;
Exec=bash -c /home/gamer/bzu-gmb-utils/g213-led/g213-led-white.sh
Terminal=false
Icon=/home/gamer/bzu-gmb-utils/g213-led/g213-led-white.png
