[Desktop Entry]
Version=1.0
Type=Application
Name=renpy-8.3.3-sdk
Comment=
Categories=Development;IDE;
Exec=bash -c '/home/gamer/rug-apps/renpy-8.3.3-sdk/renpy.sh'
Terminal=false
Icon=/home/gamer/rug-apps/renpy-8.3.3-sdk/renpy-logo.png
GenericName=renpy-8.3.3-sdk
Name[ru]=
#Name=Yandex.Disk indicator
#Comment=Yandex.Disk indicator
#Categories=Network;Utility;TextEditor;
#Exec=yandex-disk-indicator
#Terminal=false
#Icon=/usr/share/yd-tools/icons/yd-128.png
#GenericName=Yandex.Disk indicator
#Name[ru]=Индикатор Yandex.Disk
#Name[el]=Ένδειξη λειτουργίας του Yandex.Disk
#Name[bg]=Yandex.Disk индикатор
#Name[be]=Індыкатар Яндекс.Дыск 
Name[ru_RU]=renpy-8.3.3-sdk
